---
import type { Playlist } from "@/lib/data";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
---

<article
  class="group relative bg-[#181818] hover:bg-[#272727] rounded-lg transition-colors duration-300"
>
  <a
    href={`/playlist/${id}`}
    class="flex flex-col gap-4 relative h-full p-4"
    transition:name=`playlist ${id} box`
  >
    <div class="relative">
      <picture class="aspect-square">
        <img
          src={cover}
          alt={`Cover of ${title} by ${artistsString}`}
          class="object-cover w-full h-full rounded-md"
          transition:name=`playlist ${id} image`
        />
      </picture>

      <div
        class="absolute right-2 bottom-2 translate-y-1 opacity-0 transition-all duration-300 group-hover:opacity-100 group-hover:translate-y-0 z-10"
      >
        <CardPlayButton id={id} client:visible />
      </div>
    </div>

    <div class="flex flex-col gap-1">
      <h3 class="truncate" transition:name=`playlist ${id} title`>
        {title}
      </h3>

      <p
        class="text-sm text-[#a7a7a7] line-clamp-2"
        transition:name=`playlist ${id} artists`
      >
        {artistsString}
      </p>
    </div>
  </a>
</article>
